<section>
    <div class="logo-card">
        <img src="assets/images/logo.jpg" alt="">
        <span class="title">Are you ready for a new adventure?</span>
    </div>
</section>
<section >
    <div class="photo-card" [routerLink]="['/collection']">
        <img src="assets/images/folders.jpg" alt="">
        <span class="title">See your collection</span>
    </div>
</section>
<section>
    <div class="photo-card" [routerLink]="['/item/add']" [queryParams]="{type: 'book'}" >
        <img src="assets/images/book.jpg" alt="">
        <span class="title">Add a book</span>
    </div>
</section>
<section>
    <div class="photo-card" [routerLink]="['/item/add']" [queryParams]="{type: 'movie'}">
        <img src="assets/images/movie.jpg" alt="">
        <span class="title">Add a movie</span>
    </div>
</section>
