<header>
  {{ title }}
  <app-switch></app-switch>
</header>
<mat-grid-list
  [cols]="isSmallScreen ? 2 : 4"
  rowHeight="2:1"
  fxLayout="row"
  gutterSize="20px"
>
  <mat-grid-tile colspan="2" rowspan="2">
    <ngx-charts-bar-vertical
      [scheme]="colorScheme"
      [results]="bookData"
      [gradient]="false"
      [xAxis]="true"
      [yAxis]="true"
      [legend]="false"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      xAxisLabel="Year"
      yAxisLabel="Books Read"
    >
    </ngx-charts-bar-vertical>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="2">
    <mat-card class="card prevent-overflow">
      <mat-card-header class="card__header text-normal-bold"
        >Your reading speed</mat-card-header
      >
      <mat-card-content class="card__content text-big-accent">
        {{ averageReadingSpeed }}
      </mat-card-content>
      <mat-card-footer class="card__footer text-normal">
        page/min
      </mat-card-footer>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile colspan="1" rowspan="2">
    <mat-card class="card prevent-overflow">
      <mat-card-header class="card__header text-normal-bold"
        >You have
      </mat-card-header>
      <mat-card-content class="card__content text-big-accent">
        {{ totalBookSessionsCount }}
      </mat-card-content>
      <mat-card-footer class="card__footer text-normal">
        sessions so far
      </mat-card-footer>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="isSmallScreen ? 2 : 4" rowspan="2">
    <ngx-charts-bar-vertical
      [scheme]="colorScheme"
      [results]="bookDataYear"
      [gradient]="false"
      [xAxis]="true"
      [yAxis]="true"
      [legend]="false"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      xAxisLabel="Month"
      yAxisLabel="Books Read"
    >
    </ngx-charts-bar-vertical>
  </mat-grid-tile>
</mat-grid-list>
