/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --primary: #f9c784;
  --primary-2: #fff8e1;
  --accent: #ff8c42;
}
