<mat-grid-list
  [cols]="isSmallScreen ? 2 : 4"
  rowHeight="2:1"
  fxLayout="row"
  fxLayout.lt-sm="column"
  [gutterSize]="isSmallScreen ? '10px' : '20px'"
>
  <mat-grid-tile colspan="2" rowspan="1">
    <mat-card class="card text-large-bold">
      <mat-card-content>
        You are currently on: {{ item?.title | uppercase }}
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile colspan="1" rowspan="2">
    <mat-card class="card bookcover">
      <img mat-card-image [src]="item?.cover" class="card__image" />
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile colspan="1" rowspan="2">
    <mat-card class="card">
      <mat-card-header class="card__header text-large-bold"
        >Your reading progress</mat-card-header
      >
      <mat-card-content class="card__content text-normal-bold">
        <mat-progress-bar
          class="card__progress-bar"
          mode="determinate"
          [value]="(overallReadPages / item?.num_of_pages) * 100"
        ></mat-progress-bar>
        <div class="card__progress-text">
          <div class="card__progress-percentage">
            {{ (overallReadPages / item?.num_of_pages) * 100 }}%
          </div>
          <div class="card__progress-value">
            {{ overallReadPages }}/{{ item?.num_of_pages }}
          </div>
        </div>
      </mat-card-content>
      <mat-card-footer class="card__footer">
        <button
          mat-raised-button
          [routerLink]="['/item/session']"
          [queryParams]="{ id: item.id }"
        >
          Continue reading
        </button>
      </mat-card-footer>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile colspan="2" rowspan="3">
    <mat-card class="card">
      <mat-card-content class="card__content">
        <div class="card__label">
          <p class="card__label-name text-normal-bold">Your reading time:</p>
          <p class="card__label-content text-normal">
            {{ overallReadingTime }} min
          </p>
        </div>
        <div class="card__label">
          <p class="card__label-name text-normal-bold">Your reading speed:</p>
          <p class="card__label-content text-normal">
            {{ readingSpeed }} page/min
          </p>
        </div>
        <div class="card__label">
          <p class="card__label-name text-normal-bold">
            Number of reading sessions
          </p>
          <p class="card__label-content text-normal">{{ numberOfSessions }}</p>
        </div>
        <div class="card__label">
          <p class="card__label-name text-normal-bold">
            Reading the same you will finish in:
          </p>
          <p class="card__label-content text-normal">
            {{ estimatedTimeToFinish }} min
          </p>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile colspan="2" rowspan="2">
    <mat-card class="card">
      <mat-card-header class="card__title text-large-bold"
        >History of reading sessions</mat-card-header
      >
      <mat-card-content class="card__content full-width sessions-container">
        @for (session of sessions; track $index) {
        <mat-card class="session">
          <mat-card-content class="session__content text-normal-bold">
            <p class="session__date">
              {{ session.start_date | date : "dd, MMMM, y, HH:mm" }}
            </p>
            <p class="session__duration">{{ session.duration }} minutes</p>
            <p class="session__pages">{{ session.pages_read }} pages</p>
          </mat-card-content>
        </mat-card>
        }
      </mat-card-content>
      <mat-card-footer class="card__footer">
        <button mat-raised-button class="card__button">See history</button>
      </mat-card-footer>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
