:host {


  mat-grid-list {
    padding: 2rem;
    margin-inline: 3rem;

    @media (max-width: 600px) {
      margin-inline: 0;
    }

    mat-grid-tile {
      .bookcover {
        background: none !important;
      }

      .card {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        width: 100%;
        background-color: var(--primary);
        border-radius: 1.2rem;
        box-shadow: none;

        &__image {
          height: 100%;
        }

        &__content {
          width: 100%;
          display: flex;
          flex-direction: column;
        }

        &__progress-text {
          display: flex;
          justify-content: space-between;
        }

        &__progress-percentage {
          text-align: left;
        }

        &__progress-value {
          text-align: right;
        }

        &__label {
          display: flex;
          justify-content: space-between;
        }

        &__button {
          &:hover {
            background-color: var(--primary-dark);
          }
        }
      }

      .sessions-container {
        overflow: auto;
        max-height: 500px;
      }

      .session {
        background-color: var(--accent);
        margin: 1rem;
        padding: 1rem;
        border: 1px solid var(--primary-dark);

        &__content {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;

          & > p {
            width: 50%;
          }

          .session__date {
            text-align: left;
          }

          .session__time {
            text-align: right;
          }

          .session__duration {
            text-align: left;
          }

          .session__pages {
            text-align: right;
          }
        }
      }
    }
  }
}
