.input-container {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    position: relative;
}

input {
    background-color: var(--primary-2);
    border: none;
    font-size: var(--m);
    border-bottom: 2px solid var(--primary);
    color: black;
    color-scheme: dark;
    padding: 10px;
    border-radius: 15px;

    &:hover {

        &.error {
        }
    }

    &.error {
    }
    
    &::placeholder {
        color: rgba(93, 93, 93, 0.399)
    }

    &:focus {
        outline: none;
    }

}

.error-message span {
    color: var(--error);
    font-size: 12px;
  }