header {
    font-size: 2rem;
    display: flex;
    align-items: center;
    padding: 2rem;
    justify-content: space-between;
}

section {
    display: grid;
    gap: 2rem;
    padding: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));


    .item {
        cursor: pointer;
        transition: 0.5s;
        
        &:hover {
            transform: scale(1.01);
        } 

        img {
            border-radius: 15px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

}